<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sistema Tomacorriente</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/animate.min.css" rel="stylesheet">
  <link href="/css/index.css" rel="stylesheet">
</head>

<body class="animate__animated animate__fadeIn">
  <div class="container">
    <div class="position-relative text-center mb-4">
      <h1 class="mb-0">Bienvenido, <span id="username"></span></h1>
    </div>
    <h3 class="text-center mt-5">Datos Tomacorriente</h3>
    <div class="row justify-content-center mt-4">
      <div class="col-2 text-center">
        <div class="d-flex align-items-center flex-column">
          <h5 style="font-size: 1.5rem; margin-bottom: 10px;">R1</h5>
          <div class="circle-indicator" id="indicatorR1"
            style="width: 50px; height: 50px; border: 2px solid black; border-radius: 50%;"></div>
        </div>
        <div class="d-flex align-items-center flex-column">
          <label for="gasesToggle1" class="form-label" style="font-size: 1.5rem;">Gases</label>
          <div class="form-check form-switch" style="transform: scale(1.5);">
            <input class="form-check-input" type="checkbox" id="gasesToggle1"
              style="background-color: #0dd40d; width: 50px; height: 30px;">
          </div>
        </div>
        <div class="d-flex align-items-center flex-column">
          <label for="fuegoToggle1" class="form-label" style="font-size: 1.5rem;">Fuego</label>
          <div class="form-check form-switch" style="transform: scale(1.5);">
            <input class="form-check-input" type="checkbox" id="fuegoToggle1"
              style="background-color: #0dd40d; width: 50px; height: 30px;">
          </div>
        </div>
      </div>
      <div class="col-2 text-center">
        <div class="d-flex align-items-center flex-column">
          <label for="horarioToggle1" class="form-label" style="font-size: 1.5rem;">Horario</label>
          <div class="form-check form-switch" style="transform: scale(1.5);">
            <input class="form-check-input" type="checkbox" id="horarioToggle1"
              style="background-color: #0dd40d; width: 50px; height: 30px;">
          </div>
        </div>
        <div class="d-flex align-items-center flex-column">
          <label for="desde1" class="form-label" style="font-size: 1.5rem;">Desde</label>
          <input type="time" id="desde1" style="width: 150px; height: 50px;">
        </div>
        <div class="d-flex align-items-center flex-column">
          <label for="hasta1" class="form-label" style="font-size: 1.5rem;">Hasta</label>
          <input type="time" id="hasta1" style="width: 150px; height: 50px;">
        </div>
      </div>
      <div class="div-line"></div>
      <div class="col-2 text-center">
        <div class="d-flex align-items-center flex-column">
          <label for="horarioToggle2" class="form-label" style="font-size: 1.5rem;">Horario</label>
          <div class="form-check form-switch" style="transform: scale(1.5);">
            <input class="form-check-input" type="checkbox" id="horarioToggle2"
              style="background-color: #0dd40d; width: 50px; height: 30px;">
          </div>
        </div>
        <div class="d-flex align-items-center flex-column">
          <label for="desde2" class="form-label" style="font-size: 1.5rem;">Desde</label>
          <input type="time" id="desde2" style="width: 150px; height: 50px;">
        </div>
        <div class="d-flex align-items-center flex-column">
          <label for="hasta2" class="form-label" style="font-size: 1.5rem;">Hasta</label>
          <input type="time" id="hasta2" style="width: 150px; height: 50px;">
        </div>
      </div>
      <div class="col-2 text-center">
        <div class="d-flex align-items-center flex-column">
          <h5 style="font-size: 1.5rem; margin-bottom: 10px;">R2</h5>
          <div class="circle-indicator" id="indicatorR2"
            style="width: 50px; height: 50px; border: 2px solid black; border-radius: 50%;"></div>
        </div>
        <div class="d-flex align-items-center flex-column">
          <label for="gasesToggle2" class="form-label" style="font-size: 1.5rem;">Gases</label>
          <div class="form-check form-switch" style="transform: scale(1.5);">
            <input class="form-check-input" type="checkbox" id="gasesToggle2"
              style="background-color: #0dd40d; width: 50px; height: 30px;">
          </div>
        </div>
        <div class="d-flex align-items-center flex-column">
          <label for="fuegoToggle2" class="form-label" style="font-size: 1.5rem;">Fuego</label>
          <div class="form-check form-switch" style="transform: scale(1.5);">
            <input class="form-check-input" type="checkbox" id="fuegoToggle2"
              style="background-color: #0dd40d; width: 50px; height: 30px;">
          </div>
        </div>
      </div>
    </div>
    <button id="logoutButton" class="btn btn-danger" aria-label="Cerrar sesión">
      Cerrar sesión
    </button>
  </div>

  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/sweetalert2.js"></script>
  <script src="/js/socket.io.min.js"></script>
  <script src="/js/tomacorriente.js"></script>
</body>

</html>